/****** General ***********/
* {
  font-family: 'Raleway', sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/******HEADER***********/

.logo {
  display: flex;
  padding: 30px 50px 30px 0px;
  flex-direction: column;
  gap: 10px;
}
.logo img {
  width: 7em;
}
nav {
  display: flex;
  gap: 30%;
}

header {
  display: flex;
  gap: 70%;
  padding: clamp(1rem, 1vmax, 2rem) 1rem;
}

a[title] {
  padding-top: 14px;
  border-top: solid 2px rgba(0, 0, 0, 0);
}

a[title]:hover {
  border-top: solid 2px #0065fc;
  color: var(--Blue, #0065fc);
}

/****** SEARCH & FILTER ********/

.search-and-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  align-self: stretch;
}

.search-zone h1 {
  margin-bottom: 8px;
}

/*search*/

.bar-search {
  margin-top: 35px;
  display: flex;
  width: 377px;
  height: 49px;
  align-items: center;
  border-radius: 15px;
  border: 1px solid var(--Grey, #f2f2f2);
  background: var(--White, #fff);
}

.bar-search i {
  color: black;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  flex-shrink: 0;
  width: 50px;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar-search input {
  display: flex;
  width: 377px;
  height: 49px;
  align-items: center;
  border: none;
}

.bar-search :placeholder-shown {
  color: var(--Black, #000);
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.bar-search button {
  display: flex;
  height: 49px;
  padding: 15px 16px;
  align-items: center;
  gap: 10px;
  border-radius: 0px 15px 15px 0px;
  border: 1px solid var(--Blue, #0065fc);
  background: var(--Blue, #0065fc);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

/*filter*/
.filter-group {
  display: flex;
  align-items: center;
  height: 50px;
}

.filter-button {
  list-style: none;
  display: flex;
  gap: 15px;
  height: 50px;
}

.title-filtre {
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  gap: 15px;
}

.filter {
  display: flex;
  height: 50px;
  padding: 4px 19px;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  border: 2px solid var(--grey-tint-2, #d9d9d9);
  color: var(--Black, #000);
  font-family: Raleway;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #fff;
}

.filter:hover {
  background: var(--blue-light, #deebff);
  cursor: pointer;
}

/*text*/
i.fa-solid.fa-info {
  border: 2px solid #d9d9d9;
  border-radius: 50%;
  padding: 3px 7px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/********* Hebergements ***********/

#hebergements {
  width: 65%;
}

.hebergements-title {
  padding-bottom: 30px;
}

.hebergements-cards {
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
  justify-content: stretch;
}

.hebergements-cards .card {
  display: flex;
  flex-direction: column;
  flex: 1 1 25%;
  /* width: 30%;*/
  /*  height: auto;*/
}

.hebergements-cards img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 124px;
  object-fit: cover;
}

.hebergements-cards .card-content {
  padding-left: 10px;
}

.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: -5px;
}

.hebergements-cards .card-rating {
  margin-top: -5px;
  padding-bottom: 15px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/***** Activités ***********/

#activites {
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.activites-cards {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
  justify-content: flex-start;
}
.activites-cards .card {
  display: flex;
  flex-direction: column;
  /*flex-basis: 25%;*/
  position: relative;
  /*height: 439px;*/
  width: 100%;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  padding: 0px;
}

.activites-cards img {
  width: 100%;
  object-fit: cover;
  height: 380px;
  border-radius: 20px 20px 0px 0px;
}

.activites-cards .card-content {
  align-self: stretch;
  padding: 0px 19px;
}

/********* FOOTER ********/

footer {
  background: var(--Grey, #f2f2f2);
  display: flex;
  flex-direction: row;
}

.footer-column {
  display: flex;
  padding: 20px;
  flex-direction: column;
  flex: 1 0 0;
  text-align: start;
}

footer h3 {
  margin-bottom: 0;
}

footer li {
  list-style: none;
  display: flex;
  padding-bottom: 15px;
  margin-left: -40px;
}

footer a:hover {
  font-weight: 500;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  header {
    display: flex;
    gap: 50%;
  }

  nav {
    display: flex;
    gap: 30%;
  }

  .filter-group {
    display: flex;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  #hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activites-cards .card img {
    height: 200px;
  }

  .activites-cards .card-content {
    height: 70px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    gap: 0px;
  }

  a[title] {
    padding-bottom: 15px;
    border-bottom: solid 2px rgba(242, 242, 242, 1);
    border-top: none;
    width: 50%;
  }

  a[title]:hover {
    border-bottom: solid 2px #0065fc;
    border-top: none;
    color: var(--Blue, #0065fc);
  }

  .search-zone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }

  .bar-search {
    height: 49px;
    align-self: stretch;
  }

  .bar-search button {
  }

  .filter-group {
    width: 100%;
  }

  .filter-button {
  }

  .hebergements-and-populaires {
    display: flex;
    flex-direction: column-reverse;
  }

  .populaires-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
